/* Google font "Poppins" */
/**seccion buscador */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/desigers');

:root {
  --azuloscuroDUAM: #1a5eb6;
  --aguamarinaDUAM: #35C19C;
  --amarilloDUAM: #EDD140;
  --grisclaroDUAM: #B2B7B2;
  --grisoscuroDUAM: #404040;
  --bodyDUAM:#ebe5e5;
  --letterblack: #000;
  --letterwhite: #f1f1f1;
  --piripiri: #f2a3b3;
}
body {
  font-family: Arial, sans-serif;
  color: var(--letterblack);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  background: var(--bodyDUAM);
}               
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--letterwhite);
}

.search input {
    padding: 3px 0px 3px 8px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--letterblack);
    -webkit-transition: 1s linear;
    transition: 1s linear;
    width: 0px;
}

.search i {
    cursor: pointer;
    transition: .4s linear;
}

.search i:hover {
    color: var(--letterblack);
}

.search .search_bx2 {
    position: absolute;
    width: 200px;
    height: 300px;
    /* border: 1px solid #fff; */
    top: 35px;
    left: -10px;
    background: var(--grisoscuroDUAM);
    border-radius: 10px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;
}

.search .search_bx2::-webkit-scrollbar {
    width: 7px;
    background: var(--grisoscuroDUAM);
    border-radius: 20px;
}

.search .search_bx2::-webkit-scrollbar-thumb {
    background: var(--grisclaroDUAM);
    border-radius: 20px;
}

.search .search_bx2 a {
    text-decoration: none;
    color: var(--letterwhite);
    width: 100%;
    height: 50px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    transition: .3s linear;
}

.search .search_bx2 a:hover {
    background: var(--grisclaroDUAM);
}

.search .search_bx2 a img {
    width: 30px;
    height: 45px;
    border-radius: 5px;
    margin: 0px 5px;
}

.search .search_bx2 a .content2 {
    color: var(--letterwhite);
}

.search .search_bx2 a .content2 h6 {
    font-size: 13px;
}

.search .search_bx2 a .content2 p {
    color: var(--grisclaroDUAM);
    font-size: 11px;
    font-weight: 500;
}


/* javascript classes start  */

.search .search_input {
    width: 180px;
}


/* javascript classes end  */

/**fin buscador**/


  .Navegador{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  header {
    background-color: var(--azuloscuroDUAM);
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
  }
  
  .secciondrop{
    color: var(--grisoscuroDUAM);
    text-decoration: none;
    padding: 13px;
    font-weight: bold;
    font-size: 15px;
    margin-right: 25px;
  }
  
  .drop{
    color: var(--grisoscuroDUAM);
    text-decoration: none;
    font-size: 22px;
    transition: all 0.4s ease-in-out
  }
  
  nav a {
    color: var(--grisoscuroDUAM);
    text-decoration: none;
    padding: 13px;
    font-weight: bold;
    font-size: 35px;
    margin-right: 25px;
  }
  
  nav a:hover {
    background-color: var(--grisclaroDUAM);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  main {
    padding: 20px;
  }
  
  h1 {
    color: var(--azuloscuroDUAM);
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  h2 {
    color: var(--aguamarinaDUAM);
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: var(--grisoscuroDUAM);
    color: var(--grisclaroDUAM);
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  #dark-mode-toggle{
    color: var(--letterblack);
    background-color: var(--letterwhite);
  }
  
  .dark-mode #dark-mode-toggle{
    color: var(--letterwhite);
    background-color: var(--letterblack);
  }
  footer p {
    margin: 0;
  }
  
  .descripcion {
    font-size: 1rem;
  }
  
  @media (min-width: 576px) {
    .descripcion {
      font-size: 1.2rem;
    }
    .slidebecas{
      font-size: 1.8rem;
    }
  }
  
  @media (min-width: 768px) {
    .descripcion {
      font-size: 1.4rem;
    }
    .slidebecas{
      font-size: 1.6rem;
    }
  }
  
  @media (min-width: 992px) {
    .descripcion {
      font-size: 1.6rem;
    }
    .slidebecas{
      font-size: 2rem;
    }
  }
  
  .dark-mode body{
    background-color: var(--letterblack);
    color: var(--letterwhite);
  }
  .dark-mode .descripcion{
    color: var(--letterwhite);
  }
  .dark-mode header {
    background-color: var(--aguamarinaDUAM);
    color: var(--grisoscuroDUAM);
  }
  
  .dark-mode nav a {
    color: var(--grisclaroDUAM);
  }
  
  .dark-mode nav a:hover {
    background-color: var(--grisoscuroDUAM);
  }
  
  .dark-mode h1 {
    color: var(--letterwhite);
  }
  
  .dark-mode h2 {
    color: var(--letterwhite);
  }
  .dark-mode h3 {
    color: var(--letterwhite);
  }
  .dark-mode a{
    color: var(--letterwhite);
  }
  .dark-mode li{
    color: var(--letterwhite);
  }
  .dark-mode p {
    color: var(--grisclaroDUAM);
  }
  
  .dark-mode .display-4{
    color: var(--azuloscuroDUAM);
  }
  .Navegador{
    background-color: var(--letterwhite);
  }
  .card-img-top{
    height: 8rem;
    width: 8rem;
  }
  @media (max-width: 768px) {
    .separadordetarjetas{
      display: none;
      background-color: var(--amarilloDUAM);
    }
  }
  
  .card-body{
  color: var(--letterblack);
  }
  .imgc{
  height: 400px;
  }
  .logo{
  height: 50px;
  border-radius: 20%;
  }
  .nav-a{
  font-size: 23px;
  padding: 0px;
  font-weight: 500;
  }
  
  .nav-tog{
  background-color: var(--grisclaroDUAM);
  }
  .equipoparent{
    background-color: var(--amarilloDUAM);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .equipochild{
    margin: 5%;
    align-self: center;
    max-width: 77%;
  }
  
  figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .6s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 4.3rem;
    font-weight: bold;
    color: var(--letterblack);
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: 0px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.15);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: var(--letterwhite);
    }
  }
  .fotosparent{
  padding-top: 20px;
  background-color: var(--aguamarinaDUAM);
  border-radius: 16px;
}
  .fotoschild{
    vertical-align: super;
    margin-bottom: 23%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 21px;
  }
  .separador{
  margin-top: 10%;
  }
  .Nombresintegrantes{
  font-size: 24px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -19%;
  font-weight: bold;
  }
  .textointegrantes{
    font-size: large;
    margin: 2%;
  }
  .espacionombre{
  padding-top: 5px;
  }
  
  .slidebecas{
  height: 400px;
  }
  .colordefondocarrusel{
  margin-top: -2%;
  background-color: var(--grisclaroDUAM);
  }
  
  .decoracionslide{
    background-color: var(--grisclaroDUAM);
  }
  .tituloscarreras{
    font-size: 3rem;
  }
  
  .botonesdecarreras{
    background-color:var(--grisclaroDUAM);
  }
  /**  INICIO CSS PREGRADOS DESCRIPCION  **/
.titulo_descripcion_pregrados{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}
.descripcion_pregrados{
  margin: 15px;
  color: var(--letterblack);
}
.fila_contenedor_pregrados{
  position: relative;
}
.contenedor_pregrados{
  background-color: hsla(244, 16%, 92%, 0.6);
  border: 2px solid hsla(244, 16%, 92%, 0.8);
  border-radius: 20px;
  backdrop-filter: blur(8px);
}
.margen_de_espacio{
  height: 120px;
}
.imagen_de_fondo_pregrados{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}
.Universidades_en_las_que_se_encuentra{
  position: relative;
  background-color: var(--letterwhite);
  height: 200px;
}
.Cuadrado_anclado_js{
  height: 100%;
  width: 100%;
  background-color: hsla(244, 16%, 92%, 0.6);
  border: 2px solid hsla(244, 16%, 92%, 0.8);
  border-radius: 20px;
}
.queso{
  font-size: 20px;
  background-color: var(--aguamarinaDUAM);
  color: var(--letterblack);
  font-family: Poppins;
  margin:30px;
  border-radius: 20px;
  white-space: nowrap;
}

@media(min-width:830px){
  .imagen_de_fondo_pregrados{
    position: absolute;
    width: 100%;
    height: 89%;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width:829px){
  .queso{
    font-size: 15px;
    margin: 20px;
  }
}



  /**  FIN CSS PREGRADOS DESCRIPCION  **/




  /**Buscador:  **/
  
  
  
  
  .search {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--letterwhite);
  }
  
  .search input {
    padding: 3px 0px 3px 8px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--letterwhite);
    -webkit-transition: 1s linear;
    transition: 1s linear;

  }
  
  .search i {
    color: var(--grisclaroDUAM);
    font-size: 13px;
    cursor: pointer;
    transition: .4s linear;
  }
  
  .search i:hover {
    color: var(--letterwhite);
  }
  
  .search .search_bx2 {
    position: absolute;
    width: 200px;
    height: 300px;
    /* border: 1px solid #fff; */
    top: 35px;
    left: -10px;
    background: var(--grisoscuroDUAM);
    border-radius: 10px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;
  }
  
  .search .search_bx2::-webkit-scrollbar {
    width: 7px;
    background: var(--grisoscuroDUAM);
    border-radius: 20px;
  }
  
  .search .search_bx2::-webkit-scrollbar-thumb {
    background: var(--grisclaroDUAM);
    border-radius: 20px;
  }
  
  .search .search_bx2 a {
    text-decoration: none;
    color: var(--letterwhite);
    width: 100%;
    height: 50px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    transition: .3s linear;
  }
  
  .search .search_bx2 a:hover {
    background: var(--grisclaroDUAM);
  }
  
  .search .search_bx2 a img {
    width: 30px;
    height: 45px;
    border-radius: 5px;
    margin: 0px 5px;
  }
  
  .search .search_bx2 a .content2 {
    color: var(--letterwhite);
  }
  
  .search .search_bx2 a .content2 h6 {
    font-size: 13px;
  }
  
  .search .search_bx2 a .content2 p {
    color: var(--grisclaroDUAM);
    font-size: 11px;
    font-weight: 500;
  }
  
  
  /* javascript classes start  */
  
  .search .search_input {
    width: 180px;
  }
  
  
  /* javascript classes end  */
.objeto_videos{
  margin: 25%;
  max-width: calc(32px*1.778);
  max-height: calc(18px*1.778);
}
.ingptext{
  margin: 4%;
  }
.textomatricula{
  margin-bottom: -14%;
  max-width: 400px;
  text-align: center;
  margin-left: 15%;
}

/* Formulario PQRS y boton Ayuda*/
.ayuda{
  position: fixed;
  bottom: 0px;
  right: 0;
  height: 40px;
  width: 120px;
  bottom: 10px;
  background-color: #404040;
  border-radius: 26px;
  border: none;
  z-index: 100;
}
.ayuda button{
  background-color: #404040;
  height: 43px;
  width: 120px;
  border-radius: 26px;
  color: #fff;
  border: none;
}
.ayuda :hover{
  transition: 0.5s;
  background-color: #B2B7B2;
  border-radius: 26px;
}


.ayuda h4{
  display: inline-block;
}

#formularioPQRS {
  display: none;
}
.formularioPQRS{
  left: 3px;
  width: calc(1.92*210px);
  position: fixed;
  bottom: 5px;
  margin: 0;
  background: var(--amarilloDUAM);
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}
.formularioPQRS input[type=text], select, textarea {
  width: 100%;
  padding: 6px;
  border: 2px solid --grisclaroDUAM;
  border-radius: 7px;
  resize: vertical;
  background: none;
}

.formularioPQRS label {
  padding: 6px 6px 8px 0;
  color: var(--letterblack);
}

.formularioPQRS input[type=submit] {
  background-color: #04AA6D;
  color: var(--letterwhite);
  padding: 6px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -3%; 
}

.formularioPQRS input[type=submit]:hover {
background-color: var(--aguamarinaDUAM);
transition: 0.6s;
}

.formularioPQRS container {
  border-radius: 5px;
  padding: 10px;
}
@media screen and (max-width: 550px) {
  .ayuda{
    right: -40px;
    transform: translateY(-50%) rotate(-90deg);
    top: 25%;
  }
  .formularioPQRS{
   width: 100%; 
  }
}   



/*Index, que es DUAM */
.con1principalp{
  font-size: 19px;
}
.con1principal{
  background: var(--aguamarinaDUAM);
  border-radius: 23px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0;
}
.con1principal p{
  margin-left: 3%;
  text-align: center;
}
.con1principal h1{
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
.con1principal img{
  margin: 2%;
}




/* Estilos para el pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--letterblack);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: var(--grisclaroDUAM);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: 27%;
  margin-top: 23%;
  width: 50%;
  justify-content: center;
}
.popup-content p{
  font-size: larger;
  font-weight: bold;
}
.piripiri{
  background-color: var(--letterblack);
  color: var(--piripiri);
}
.piripiri pre{
  margin-left: 15%;
}
.piri{
  color: var(--piripiri);
  font-weight: bolder;
  font-family: 'Desigers', sans-serif;
}

.textoDUAM{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.con1principalDUAM{
  border-radius: 23px;
  margin: 2%;
  padding: 0;
}
.con1principalDUAM p{
  margin-left: 3%;
  text-align: center;
}
.con1principalDUAM h1{
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
.con1principalDUAM img{
  margin: 2%;
}
/* Admin.php styles */


.pqrs-table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  border: 2px solid #EDD140;
}
.pqrs-table th{
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
  font-weight: bold;
}
.pqrs-table th, .pqrs-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.pqrs-table th {
  background-color: #f2f2f2;
}

.pqrs-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.pqrs-table tr:nth-child(odd) {
  background-color: var(--letterwhite);
}

/* Importante.html styles */
.tabs {
  position:relative;
  width:100%;
}
.tabs .title {
  padding:50px 20px 100px;
  text-align:center;
  font-size:30px;
  color: var(--letterwhite);
  background: var(--azuloscuroDUAM);
  font-weight: bold;
}
.tabs .tab-header,
.tabs .tab-indicator,
.tabs .tab-body {
  margin:0 auto;
  max-width:700px;
  width:100%;
}
.tabs .tab-header {
  position:relative;
  width:100%;
  display:flex;
  align-items:center;
  height:60px;
  margin-top:-60px;
  z-index:2;
}
.tabs .tab-header > div {
  width:25%;
  text-align:center;
  padding:15px 0px;
  color: var(--letterwhite);
  font-size:18px;
  cursor:pointer;
  transition:color 300ms ease-in-out;
  font-weight: bold;
}
.tabs .tab-header > div.active {
  color: var(--azuloscuroDUAM);
  font-weight: bolder;
}
.tabs .tab-indicator {
  position:relative;
  height:60px;
  margin-top:-60px;
}
.tabs .tab-indicator > div {
  position:absolute;
  left: 0%;
  width:25%;
  height:100%;
  background: var(--letterwhite);
  border-radius:10px 10px 0px 0px;
  transition:all 300ms ease-in-out;
}
.tabs .tab-body {
  position:relative;
}
.tabs .tab-body > div {
  position:absolute;
  width:100%;
  padding:20px;
  opacity:0;
  top:-100vh;
}
.tabs .tab-body > div > * {
  margin:10px 0px;
}
.tabs .tab-body > div > p {
  font-size: 1.1rem;
}
.tabs .tab-body > div.active {
  top:0px;
  opacity:1;
  transition:top 0ms ease-in-out 0ms,
             opacity 500ms ease-in-out 0ms;    
}

